<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zfg.test">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 收集日志 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        <meta-data
            android:name="design_width_in_dp"
            android:value="480"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="800"/>
        -->

        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".activity.BaseWebViewActivity">
        </activity>
        <activity android:name=".activity.AcmTestActivity">
        </activity>
        <activity android:name=".activity.LinearLayoutActivity">
        </activity>
        <activity android:name=".activity.SearchActivity">
        </activity>
        <activity android:name=".activity.Dagger2TestActivity">
        </activity>
        <activity android:name=".activity.Dagger2Test1Activity">
        </activity>
        <activity android:name=".activity.AActivity">
        </activity>
        <activity android:name=".activity.BActivity">
        </activity>
        <activity android:name=".activity.AnimActivity">
        </activity>
        <activity android:name=".activity.BoxActivity">
        </activity>
        <activity android:name=".activity.LinqTestActivity">
        </activity>
        <activity android:name=".activity.RetrofitTestActivity">
        </activity>
        <activity android:name=".activity.FragmentsActivity">
        </activity>
        <activity android:name=".activity.ArouterTestActivity">
        </activity>
        <activity android:name=".kotlintest.MainKotlin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".kotlintest.activity.BaseWebKotlin"/>
        <activity android:name=".kotlintest.activity.FragmentsKotlin"/>
        <activity android:name=".activity.MultClassicActivity">
        </activity>
        <activity android:name=".activity.TitleBarActivity">
        </activity>
        <activity android:name=".activity.WeakSefActivity">
        </activity>
        <activity android:name=".activity.DesignBarActivity">
        </activity>
        <activity android:name=".activity.AdjustCodeActivity">
        </activity>
        <activity
            android:name=".activity.DrawTextActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activity.RequestActivity">
        </activity>
        <!--<activity android:name=".activity.base.BaseActivity"/>-->
        <activity android:name=".activity.SkinTestActivity">
        </activity>
        <activity android:name=".activity.FragmentActivity"/>
        <activity android:name=".activity.GuideActivity">
        </activity>
        <activity android:name=".activity.MutlViewActivity">
        </activity>
        <activity android:name=".activity.MainTestActivity">
        </activity>
        <activity android:name=".activity.FitXYActivity">
        </activity>
        <activity
            android:name=".activity.IntentAActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.IntentBActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activity.FloatingActivity">
        </activity>
        <activity android:name=".activity.ExpandableRecyclerActivity">
        </activity>
        <activity android:name=".activity.DragGoupActivity">
        </activity>
        <activity android:name=".activity.ExpandableTextViewActivity">
        </activity>
        <activity android:name=".activity.RadarScanActivity">
        </activity>
        <activity android:name=".activity.TestViewActivity">
        </activity>
        <activity android:name=".activity.ExpandListActivity">
        </activity>
        <activity android:name=".activity.LongPhotoActivity">
        </activity>
        <activity android:name=".activity.CcTestActivity">
        </activity>
    </application>

</manifest>